---
---

@import "{{ site.theme }}";

#logo {
  display: none;
}

#banner {
  right: 0;
  border: 0;
  background: #b89d5b;
}

#banner a.button.fork {
  display: none !important;
}

footer {
  display: none;
}
